<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
</head>
<body>
    <nav class="menu_desk">
        <div class="menu">
            <div class="container">
                <div class="logo">
                    <img src="/imagens/logo.png">
                </div>
                <div class="itens">
                    <ul>
                        <a href="/Usuario/CadastroAdmin">
                            <li>CADASTRAR USUÁRIO</li>
                        </a>
                        <a href="/Comentario/Administrador">
                            <li>APROVAR OU REJEITAR</li>
                        </a>
                        <a href="/Usuario/Sair">
                            <li>DESLOGAR</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    
    @RenderBody()

    <footer class="rodape">
        <div class="container footerzao">
            <div class="descript">
                <div class="logo_footer">
                    <img src="/imagens/logo.png" alt="#">
                    <p>Carfel</p>
                </div>
                <div class="text_footer">
                    <p>Lorem ipsum dolor sit amet,<br>
                    consectetuer adipiscing elit. </p>
                </div>
            </div>
            <div class="quebra_branca"></div>
            <div class="middle_footer">
                <div class="middle_title">CONTACT INFO</div>
                <div class="middle_contact">
                    <span>Email: example@example.com</span>
                    <span>Telefone: (XX) XXXXX-XXXX</span>
                </div>
                <div class="middle_icons">
                    <img src="/imagens/if_06-facebook_104498.svg" alt="#">
                    <img src="/imagens/if_03-twitter_104501.svg" alt="">
                    <img src="/imagens/if_social-linkedin_216394.svg" alt="">
                    <img src="/imagens/if_33-pinterest_104469.svg" alt="">
                </div>
            </div>
            <div class="quebra_branca"></div>
            <div class="mapinha">
                <img src="/imagens/mapinha.png" alt="#">
            </div>
        </div>
    </footer>

    <script src="/js/main.js"></script>
</body>
</html>