<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style_comenta1.css" />
</head>
<body>
    <div class="container">
        <div class="container_int">
            <form action="/Comentario/CadastroComentario" method="POST">
                <input type="textarea" name="conteudo" placeholder="Digite seu comentário" required maxlength="120">
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
</body>
</html>